@model IEnumerable<FreeMusicInstantly.Models.Song>

@{
    ViewData["Title"] = "Songs Index";
}

<h1>Songs</h1>

<div class="d-flex justify-content-center">
    <!-- Center the search bar -->
    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control"
                   placeholder="Search the desired song" name="search"
                   value="@ViewBag.SearchString">
            <button type="submit" class="buton_universal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                    <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018" />
                    <path d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11" />
                </svg>
                Search
            </button>
        </div>
    </form>
</div>

<div class="row">
    @if (ViewBag.Songs != null && ((IEnumerable<FreeMusicInstantly.Models.Song>)ViewBag.Songs).Any())
    {
        foreach (var song in (IEnumerable<FreeMusicInstantly.Models.Song>)ViewBag.Songs)
        {
            <div class="col-md-4 mb-4">
                <a href="/Songs/Show/@song.Id" style="text-decoration: none; color: inherit;">
                    <div class="card" style="height: 100%;">
                        <img src="~/files/@song.Photo_Cover" class="card-img-top" alt="@song.Title" style="max-height: 200px; object-fit: cover;">
                        <div class="card-body text-center">
                            <h5 class="card-title">@song.Title</h5>
                            <p class="card-text">@song.User?.UserName</p>
                        </div>
                        <div class="card-footer text-center">
                            <small class="text-muted">Uploaded on @song.Date.ToString("yyyy-MM-dd")</small>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <div class="col-12 text-center">
            <p>No songs available</p>
        </div>
    }
</div>

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.LastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                       href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="@ViewBag.PaginationBaseUrl=@(ViewBag.LastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
