<br />
<br />

@if (ViewBag.Msg != null)
{
    <h2 class="@ViewBag.MsgType p-3 rounded-3 text-center mb-5">
        @ViewBag.Msg
    </h2>
}

<h1 style="text-align: center;">
    Friend Requests
</h1>

<div class="row">
    @foreach (var data in ViewBag.FriendRequests)
    {
        var user = data.User;
        var requestId = data.RequestId;

        <div class="card">
            <div class="card-body">
                <h1>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg> @user.UserName
                    </p>
                </h1>
                <div class="d-flex flex-row justify-content-around">
                    <form method="post" asp-controller="ApplicationUsers" asp-action="AcceptFriendRequest">
                        <input type="hidden" name="fromFriendRequests" value="true" />
                        <input type="hidden" name="requestId" value="@requestId" />
                        <button type="submit" class="btn btn-success me-2">
                            Accept
                        </button>
                    </form>
                    <form method="post" asp-controller="ApplicationUsers" asp-action="DeclineFriendRequest">
                        <input type="hidden" name="requestId" value="@requestId" />
                        <button type="submit" class="btn btn-danger ms-2">
                            Decline
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <br />
    }
</div>
